PyQt5                                                                                                                                                                                                    
hidapi                                                                                                                                                                                                   
simpleeval                                                                                                                                                                                               
keyboard                                                                                                                                                                                                 
fbs                                                                                                                                                                                                      
bleak       
pywin32==303; sys_platform == 'win32'
certifi
